---

---

<section
  class="mx-auto flex h-[72px] flex-row items-center justify-between border-t border-t-white bg-textColor px-4 py-6 text-white sm:px-8 lg:px-10 xl:w-[1440px] xl:gap-20 xl:px-[120px]"
>
  <div class="font-roboto-condensed font-bold leading-6">Cars Spot</div>
  <div class="flex flex-col font-roboto-condensed leading-6">
    Polityka prywatności
    <div class="-mt-1 w-[130px] border-t border-white"></div>
  </div>
</section>

<style></style>
