---

---

<section
  class="mx-auto flex flex-col gap-12 px-4 py-20 lg:px-10 xl:h-[678px] xl:w-[1264px] xl:px-0"
>
  <div class="mx-auto flex flex-col gap-6 sm:gap-16 xl:flex-row">
    <img
      src="car1.avif"
      alt="car"
      class="h-auto w-[300px] sm:w-[350px] lg:w-[550px] xl:h-[446px] xl:w-[600px]"
    />
    <img
      src="car2.avif"
      alt="car"
      class="h-auto w-[300px] sm:w-[350px] lg:w-[550px] xl:h-[446px] xl:w-[600px]"
    />
    <img
      src="car3.avif"
      alt="car"
      class="h-auto w-[300px] sm:w-[350px] lg:w-[550px] xl:h-[446px] xl:w-[600px]"
    />
  </div>
  <div
    class="mx-auto flex h-[24px] w-[80px] flex-row items-center justify-center gap-2"
  >
    <div class="size-2 rounded-full bg-blueColor"></div>
    <div class="bg-dot size-2 rounded-full"></div>
    <div class="bg-dot size-2 rounded-full"></div>
    <div class="bg-dot size-2 rounded-full"></div>
    <div class="bg-dot size-2 rounded-full"></div>
  </div>
</section>

<style></style>
