---

---

<section
  class="mx-auto flex flex-col bg-inherit px-4 py-10 lg:px-10 xl:h-[825px] xl:w-[1200px] xl:px-0 xl:py-[120px]"
>
  <div class="flex flex-col gap-8 bg-inherit xl:h-[343px]">
    <div
      class="font-bebas-neue text-4xl tracking-tight text-textColor sm:text-5xl lg:text-6xl xl:text-[76px] xl:leading-[84px]"
    >
      SPRZEDAJEMY SAMOCHODY <p>Z EUROPY</p>
    </div>
    <div
      class="sm:text-md font-roboto-condensed text-sm leading-6 tracking-wide"
    >
      Kup komfortowy pojazd, aby każda podróż <p>była wyjątkowym przeżyciem.</p>
    </div>
    <div class="flex flex-row gap-6 pt-3">
      <button
        class="gap-2 rounded-lg bg-blueColor px-5 py-3 text-backgroundColor"
        ><a href="/" class="font-roboto-flex">Zobacz zdjęcia</a></button
      >
      <button
        class="border-1 gap-2 rounded-lg border border-blueColor bg-inherit px-5 py-3 text-blueColor"
        ><a href="/" class="font-roboto-flex">Zadzwoń do nas</a></button
      >
    </div>
  </div>
</section>

<style></style>
