---

---

<section
  class="mx-auto flex flex-col gap-4 bg-backgroundColor px-4 pt-44 sm:pt-72 lg:px-10 lg:pt-96 xl:h-[207px] xl:w-[1264px] xl:gap-0 xl:px-0 xl:pt-[76px]"
>
  <div
    class="flex items-center font-roboto-condensed text-xl leading-8 text-blueColor sm:text-2xl xl:text-[21.5px]"
  >
    Prezentacja firmy
  </div>
  <div
    class="text-textColor2 pb-10 font-bebas-neue text-4xl sm:text-5xl lg:pb-0 xl:text-[40px] xl:leading-[48px]"
  >
    ZOBACZ NASZĄ GALERIĘ ZDJĘĆ
  </div>
  <div
    class="sm-pt-12 flex flex-col items-center justify-start sm:gap-8 lg:flex-row xl:pt-[24px]"
  >
    <div class="text-blueColor sm:text-xl">Samochody osobowe</div>
    <div class="sm:text-xl">Samochody dostawcze</div>
  </div>
</section>

<style></style>
