---

---

<nav class="flex h-[79px] items-center justify-center px-4 lg:px-10 xl:px-0">
  <section
    class="flex h-[47px] w-[1200px] items-center justify-between gap-2.5 py-4"
  >
    <div><img src="logo.png" /></div>
    <div class="hidden flex-row gap-6 sm:flex">
      <a href="/" class="font-roboto-flex">Galeria Zdjęć</a><a
        href="/"
        class="font-roboto-flex">FaQ</a
      >
    </div>
    <div class="z-10">
      <button class="size-10 sm:hidden"
        ><img src="hamburger.png" alt="" /></button
      >
      <button
        class="hidden gap-2 rounded-lg bg-blueColor px-5 py-3 text-backgroundColor sm:flex"
        ><a href="/" class="font-roboto-flex">Zadzwoń do nas</a></button
      >
    </div>
  </section>
</nav>

<style></style>
