---

---

<section
  class="mx-auto flex flex-row bg-textColor text-white xl:h-[361px] xl:w-[1440px] xl:gap-20 xl:py-[88px]"
>
  <div
    class="mx-auto flex flex-col gap-8 px-4 py-8 sm:px-8 sm:py-12 lg:px-10 xl:h-[185px] xl:w-[1200px] xl:flex-row xl:gap-12 xl:p-0"
  >
    <div class="flex flex-1 flex-col gap-4">
      <div
        class="font-bebas-neue text-2xl tracking-wide lg:text-3xl xl:text-[25px] xl:leading-[37.5px]"
      >
        Id nostrud enim esse consectetur in eu mollit fugiat aute. Velit nulla
        commodo.
      </div>
      <div class="font-roboto-condensed text-sm xl:leading-[21px]">
        Mauris varius ipsum mauris, rutrum lobortis magna efficitur a. Donec
        egestas, nisl vehicula feugiat ornare, diam turpis efficitur mi, ac
        venenatis eros ipsum ac arcu. Vestibulum et [...]
      </div>
      <div
        class="flex flex-col gap-1.5 font-roboto-condensed xl:leading-[21px]"
      >
        <div class="flex flex-row">
          <span>Rozwiń</span>
          <div class="size-5"><img src="arrow.png" alt="" /></div>
        </div>
        <div class="w-[60px] border-t border-white"></div>
      </div>
    </div>
    <div class="flex flex-1 flex-col gap-4">
      <div
        class="font-bebas-neue text-2xl tracking-wide lg:text-3xl xl:text-[25px] xl:leading-[37.5px]"
      >
        Id nostrud enim esse consectetur in eu mollit fugiat aute. Velit nulla
        commodo.
      </div>
      <div class="font-roboto-condensed text-sm xl:leading-[21px]">
        Mauris varius ipsum mauris, rutrum lobortis magna efficitur a. Donec
        egestas, nisl vehicula feugiat ornare, diam turpis efficitur mi, ac
        venenatis eros ipsum ac arcu. Vestibulum et [...]
      </div>
      <div
        class="flex flex-col gap-1.5 font-roboto-condensed xl:leading-[21px]"
      >
        <div class="flex flex-row">
          <span>Rozwiń</span>
          <div class="size-5"><img src="arrow.png" alt="" /></div>
        </div>
        <div class="w-[60px] border-t border-white"></div>
      </div>
    </div>
  </div>
</section>

<style></style>
